{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card border-warning w-50 text-center" id="contact-card">
        <div class="card-body">
            <h4 class="card-title">For enquries please contact us on:</h4>
            <p class="card-text">020733333312</p>
            <p class="card-text">or</p>
            <a href="{% url 'menu_order' %}" class="place-order-button btn btn-lg rounded-pill text-uppercase py-3">Place an order</a>
        </div>
    </div>
{% endblock %}