{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<!-- The Carousel -->
<div class="container">
        {% include 'includes/carousel.html' %}
</div>

    <!-- The Welcome text and site introduction area -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto">
                <h1 class=" welcome display-4 text-black text-center">
                    Welcome to Arike's!
                </h1>
                <p class="text text-center">
                    Arike foods is an online restaurant where you get the best quality African food at an affordable price.
                    You order, we deliver to your doorstep so you can comfortably sit back and enjoy your meal with no hassle.
                    <br>
                    <br>
                    You can also visit our <a href="{% url 'recipe_blog' %}">Recipe blog</a> page to know more about our menu or <a href="{% url 'menu_order' %}"> leave a comment</a> on a menu.
                    <br>
                    <br>
                    We look forward to serving you.
                    <br>
                </p>
                <!-- The navigation buttons -->
                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'menu' %}" class="food-menu-button btn btn-lg rounded-pill border-warning text-uppercase py-3">Food Menu</a>
                        <a href="{% url 'menu_order' %}" class="place-order-button btn btn-lg rounded-pill border-warning text-uppercase py-3">Place an Order</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- JS code link to make the Carousel work -->
{% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}