{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- To display ordered items and cart total-->
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <hr>
                <h4><strong>Thank You for your Patronage!</strong></h4>
                <hr>
                <p>Your order has been successful and is being processed for delivery. We look forward to serving you again soon.</p>
                <a href="{% url 'home' %}" class="btn success-button btn-lg border-warning rounded-pill text-uppercase m-4">
                    <span class="text-uppercase">Back to Home Page</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}