/*---------------------General (Credits: Influenced based on research,Youtube videos, Google fonts, Bootstrap & Code Institute)*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap:100,200,300,400,500,600');

html {
    height: 100%;
}

body {
    margin: 0;
    background: url('/media/bg-marble.jpg') no-repeat fixed;
    background-size: cover;
	color: #333;
	font-family: 'open sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.625;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

section {
    margin-top: 90px;
    padding-top: 2px;
}

.welcome {
   margin-top: 1em;
}

.text-black {
    color: #000;
}

.food-menu-button,
.place-order-button,
.checkout-button {
    background-color: #333;
	color: #ebb129!important;
}

.food-menu-button:hover,
.place-order-button:hover,
.checkout-button:hover {
	background-color: #333;
	color: #fff!important;
}

.table {
   margin: 0 auto;
   font-size: 15px!important;
   border-radius: 20px 20px;
   color: #ebb129!important;
}

.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#contact-card{
    padding-top: 90px;
}

/* -----------------------------Navbar (Credits: Bootstrap & Code Institute)*/
.navbar-brand {
    font-size: 40px !important;
}

/* -----------------------------Footer (Credits: Influenced by Bootstrap & Code Institute)*/
#footer{
    height: 3em;
    margin-top: auto;
    padding-top: 20px;
}