{% load static %}
<!-- The Carousel influenced by Bootstrap-->
<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ MEDIA_URL }}jollof.jpg" class="d-block w-100" alt="jollof_img">
            </div>
             <div class="carousel-item">
                <img src="{{ MEDIA_URL }}chicken.jpg" class="d-block w-100" alt="chicken_img">
            </div>
            <div class="carousel-item">
                <img src="{{ MEDIA_URL }}fish.png" class="d-block w-100" alt="fish_img">
            </div>
            <div class="carousel-item">
                <img src="{{ MEDIA_URL }}ayamase.jpg" class="d-block w-100" alt="soup_img">
            </div>
        </div>
    </div>
</div>
