{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning mr-auto fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>Arike Foods</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"> <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}"> <i class="fas fa-utensils"></i> Food Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-hand-point-up"></i> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}"> <i class="fas fa-phone"></i> Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_order' %}"> <i class="fas fa-shopping-cart"></i> Cart</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">
                       <i class="fas fa-user"></i> My Account
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item nav-link" href="#"><i class="fa fa-user"></i>Profile</a>
                        <a class="dropdown-item nav-link" href="{% url 'home' %}"><i class="fa fa-sign-out"></i>Logout</a>
                        <a class="dropdown-item nav-link" href="#"><i class="fas fa-user-cog"></i>Update Profile</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-sign-in"></i>Login</a>
                    </li>
            {% endif %}
        </ul>
    </div>
</nav>

    