{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="my-5">
     <h4 class="text-center">
        <a href="{% url 'menu' %}" class="food-menu-button btn btn-lg rounded-pill text-uppercase py-3">Food Menu</a>
    </h4>
</div>

<div class="card w-50 my-3">
    <div class="card-header">
        <strong>Order a Meal</strong>
    </div>
    <div class="card-body">
        <form class="col-12" method="POST" action="">
            {% csrf_token %}
            {% for menu in menus %}
                <div class="row">
                    <div class="col-6" id="{{ menu.id }}">
                        {{ menu.name }}
                    </div>
                    <div class="col-4">
                       £{{ menu.price }}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-warning" type="submit"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                
                <div class="col-3 col-sm-2 col-md-4 col-lg-3 col-xl-3">
                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="100" data-item_id="{{ menu.id }}" id="id_qty_{{ menu.id }}">
                </div>
                <hr>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}