{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="card border-warning cart-card w-50 my-3">
    <div class="card-header">
        <h5><i class="fas fa-shopping-cart"></i> <strong>Your Order</strong></h5>
    </div>
    <div class="card-body">
        {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black text-center">
                        <tr>
                            <th scope="col">Menu Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                        <tr class="text-black text-center">
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.menu.name }}</strong></p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.menu.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form" action="{% url 'update_cart' item.item_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="0" max="100" data-item_id="{{ item.menu.id }}" id="id_qty_{{ item.menu.id }}">
                                    </div>
                                    <!-- Update button -->
                                    <div class="col-4 col-md-2 col-xl-3 mt-2">
                                        <input type="submit" class="btn-sm btn-warning border-dark" value="Update">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.menu.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-black text-right">
                            <h6><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <div class="panel-body"><span>There are no items in your cart.</span></div>
        {% endif %}
    </div>
</div>
<div class="my-5">
    <h4 class="text-center">
        <a href="{% url 'menu_order' %}" class="place-order-button btn btn-lg border-warning rounded-pill text-uppercase py-3">Place an Order</a>
        <a href="{% url 'menu' %}" class="checkout-button btn btn-lg border-warning rounded-pill text-uppercase py-3">Checkout</a>
    </h4>
</div>
{% endblock %}