{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- To allow users leave a comment. A user must be logged in to do so-->
    <div class="card border-warning w-80 mx-3">
        <div class="card-header">
            <strong>Feedback on {{ menu }}</strong>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
                <form class="form" method="POST" action="{% url 'add_feedback' menu.id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <label class="my-2" for="name">Name</label>
                        </div>
                        <div class="col-12">
                            <input id="name" name="name" type="text" class="w-50" placeholder="Enter your name" required>
                        </div>
                        <div class="col-12">
                            <label class="my-2" for="comment">Your Feedback</label>
                        </div>
                        <div class="col-12">
                            <textarea id="comment" name="comment" type="text" class="w-75" placeholder="Leave a comment" required></textarea>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-warning mt-1" value="Submit">
                    
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                <hr>
                {% else %}
                    <h5 class="mt-3">You are yet to <a href="{% url 'account_login' %}" class="login-request-link">login.</a> Please login to give a feedback.</h5>
            {% endif%}
        </div>        
    </div>
    <!-- Navigation button back to order page -->
    <a href="{% url 'menu_order' %}" class="btn my-button btn-lg border-warning rounded-pill text-uppercase m-4">
        <span class="text-uppercase">Back</span>
    </a> 
{% endblock %}